/* General Body Styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ed8b8b;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}


/* Footer Section */
.footer {
    background: #000000;
    color: #ed8b8b;
    text-align: center;
    padding: 20px;
}

    .footer p {
        margin: 0.5rem 0;
    }

    .footer .social-link {
        color: white;
        margin: 0 0.5rem;
        text-decoration: none;
        font-size: 1.2rem;
    }

        .footer .social-link:hover {
            text-decoration: underline;
        }


